/*灰色背景星星五个平铺*/
.star_bg{
	width:100px;height: 20px;
	background: url(star.png) repeat-x;
	position: relative;
	overflow: hidden;
}
/*5个小星星的默认状态定位*/
.star{
	height: 100%;width: 20px;
	line-height: 6em;
	position: absolute;
	z-index: 3;
}
.star_1{left: 0;}
.star_2{left: 20px;}
.star_3{left: 40px;}
.star_4{left: 60px;}
.star_5{left: 80px;}
/*鼠标hover效果实现，分别显示背景与定宽*/
.star:hover{
	background:url(star.png) repeat-x 0 -20px!improtant;
	left: 0;z-index: 2;
}
.star_1:hover{width: 20px;}
.star_2:hover{width: 40px;}
.star_3:hover{width: 60px;}
.star_4:hover{width: 80px;}
.star_5:hover{width: 100px;}

label{
	display:block;_display:inline;
	height:100%;width:100%;
	cursor:pointer;
}

/*隐藏单选按钮*/
.score{position:absolute;clip:rect(0 0 0 0);}

/*保存鼠标单击后选定的星星的状态*/
.score:checked + .star{
	background:url(star.png) repeat-x 0 -20px;
	left:0;z-index: 1;
}
.score1:checked ~ .star_1{width: 20px;}
.score2:checked ~ .star_2{width: 40px;}
.score3:checked ~ .star_3{width: 60px;}
.score4:checked ~ .star_4{width: 80px;}
.score5:checked ~ .star_5{width: 100px;}

/*.star_bg:hover .star{background-image: none;}*/